<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Pokedex</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gradient-to-r from-blue-500 to-pink-500 min-h-screen flex items-center justify-center">
    {{{body}}}
</body>
</html>